<H1> <%= @player_one.name %> will now play <%= @player_two.name %> </H1>
<br>
<H2><%= @player_two.name%>: <%= @player_two.hp%>HP </H2>

<form action="/attack">
  <input type="submit" value="attack">
</form>